@import  "../../../config/palette.scss";

.relative {
    position: relative;

    .image_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $additional-text-color;
        display: flex;
        opacity: 0;
        overflow: auto;
    }

    &:hover .image_wrap {
        opacity: 1;
    }

    .work_descr {
        color: $text-color;
        text-align: center;
        margin: auto;
    }

    img {
        width: 100%;
        height: 100%;
    }
}



