$background-color: #4BADF3;
$text-color: #fff;
$additional-text-color: #6c6acc;
$nav-background-color: #2a2e48;
$contrast-text-color: #6c7279;
$title-text-color: #000;
$hint-text-color: #C3DAF5; 
$contrast-color: #2E4F76;
$border-form-color: #337ab7;
$shaddow-color: rgba(0, 0, 0, .05);
$backgroud-transparent-color: rgba(255, 255, 255, 0.8);
$header-tensparent-color: rgba(0, 0, 255, 0.7);
$error-color: #ff0000;
