@import "../../../config/palette.scss";

.background_header {
    @media only screen and (max-width: 768px) {
        display: none;
    }

    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 60vw;

    .title_block {
        color:$text-color;
        text-align: center;
        margin: 10vh auto;
    
        h1 {
            font-size: 10vh;
            font-family: "RalewayBold", sans-serif;
            margin-bottom: 5vh;
        }
    
        p {
            font-size: 6vh;
            margin-bottom: 10vh;
            font-weight: 600;
        }
    }
    
}
