@import "../../../config/palette.scss";

.trip_item {
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    vertical-align: baseline;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        margin: 4vh 0;
    }

    h4 {
        font-family:" RalewayBold", sans-serif;
        color: $title-text-color;
    }

    > span {
        text-transform: uppercase;
        color: $additional-text-color ;
    }

    p {
        padding: 1vh 0;
        margin: 3vh 0;   
        text-align: justify;
    }

    .btn_blue_container {
        position: absolute;
        right: 15px;
        bottom: -15px;
        left: 15px;
        text-align: right;
        vertical-align: baseline;

        .btn_blue {
            display: inline-block;
            border: 1px solid $additional-text-color;
            color: $text-color;
            background-color: $additional-text-color;
            border-radius: 5px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
