@import  "../../../config/palette.scss";

header {
    @media only screen and (max-width: 768px) {
        background-image: url('../../../images/header.jpg');
        background-size: cover;
    }
    min-height:600px;
    height: 86vh;
    height: auto;
    background: url('../../../images/mainCracow.jpg') no-repeat;
    background-size: cover;
}

nav {
    @media only screen and (max-width: 768px) {
        background-color: $nav-background-color;
        position: fixed;
    }
    height: 14vh;
    line-height: 14vh;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}

.menu_fixed {
    position: fixed;
    height: 14vh;
    display: flex;
    align-items: center;
    top: 0px;
    background-color: $background-color;

    #topMenu {
        @media only screen and (max-width: 768px) {
            background-color:$nav-background-color;
            padding: 2vh 0;
            position: relative;
        }
    }
        
    #wtkImg {
        height: 14vh;
    }

    .phone_number {
        color: $text-color;
        font-weight: 600;
        font-size: 3vh;
        font-family: sans-serif;
    }

    .menu {
        list-style-type: none;

        li {
            @media only screen and (max-width: 768px) {
                display: block;
                text-align:center;
            }
            display: inline-block;
            padding: 0 25px;
            a {
                @media only screen and (max-width: 768px) {
                    display:block;
                }
                color: $text-color;
                text-transform: uppercase;
                font-family: "RalewayBold", sans-serif;

                &:hover, &:focus {
                    @media only screen and (max-width: 768px) {
                        background-color:#000;
                        color:#fff;
                    }
                    text-decoration: underline;
                    text-decoration-color: $additional-text-color;
                }
            }
        }
    }
}
