@import  "../../../config/palette.scss";

header {
    @media only screen and (max-width: 768px) {
        background-image: url('../../../images/header.jpg');
        background-size: cover;
    }
    min-height: 100vh;
    height: auto;
    background: url('../../../images/mainCracow.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    @media only screen and (max-width: 768px) {
        background-color: $nav-background-color;
    }
    position: fixed!important;
    height: 14vh;
    line-height: 14vh;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}

.menu_fixed {
    height: 14vh;
    display: flex;
    align-items: center;
    top: 0px;
    background-color: $background-color;

    #topMenu {
        @media only screen and (max-width: 768px) {
            background-color:$nav-background-color;
            position: absolute;
            left: 0;
            top: 14vh;
            width: 100%;
            justify-content: center!important;
        }
    }
        
    #wtkImg {
        height: 14vh;
    }

    .phone_number {
        @media only screen and (max-width: 992px) {
            display: none;
        }
        color: $text-color;
        font-weight: 600;
        font-size: 18px;
        font-family: sans-serif;
    }

    .menu {
        list-style-type: none;
        font-size: 2vh;

        li {
            @media only screen and (max-width: 768px) {
                display: block;
            }
            display: inline-block;
            padding: 0 10px;
            a {
                @media only screen and (max-width: 768px) {
                    display: block;
                }
                color: $text-color;
                text-transform: uppercase;
                font-family: "RalewayBold", sans-serif;
                font-size: 3vh;
                font-weight: 400;
                text-align: center;

                &:hover, &:focus {
                    @media only screen and (max-width: 768px) {
                        background-color:#000;
                        color:#fff;
                    }
                    text-decoration: underline;
                    text-decoration-color: $additional-text-color;
                }
            }
        }
    }
}
